# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Gemini
.gemini/

# Excluded files
SWAGGER_PRESENTATION.md
Fabrication_Planner_API.postman_collection.json
